<div class="modal-content" style="background-color: #343a40 !important;">
  <div class="modal-body" style="height: calc(100vh); overflow-y: auto;">
    <%= render 'manage_participants_form' %>
    <%= render 'participants_list' %>
  </div>
</div>
